<div class="container">
  <h1>Detalles del Formulario</h1>

  <div *ngIf="loading">
    <p>Cargando información del formulario...</p>
  </div>

  <div *ngIf="error">
    <p class="error-message">Error: {{ error }}</p>
  </div>

  <div *ngIf="formularioData">
    <h2>{{ formularioData.nombre }}</h2>
    <p>{{ formularioData.descripcion }}</p>

    <h3>Preguntas:</h3>
    <form>
<div *ngIf="mesesChequeo.length > 0">
  <h3>Meses</h3>
  <div class="d-flex flex-wrap gap-3">
    <div *ngFor="let pregunta of mesesChequeo" class="form-check form-check-inline">
      <input
        type="checkbox"
        class="form-check-input"
        [id]="pregunta.nombre"
        [name]="pregunta.nombre"
        [disabled]="pregunta.sololectura === 'SI'">
      <label class="form-check-label" [for]="pregunta.nombre">
        {{ pregunta.etiqueta }}
      </label>
    </div>
  </div>
</div>

    </form>

  </div>
</div>