<!-- User Dropdown Menu -->
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button">
        <i class="fas fa-user"></i> <span class="d-none d-md-inline">Mi Cuenta</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión aquí
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión en todos los dispositivos
        </a>
    </div>
</li>