<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Admin</b>LTE</a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Inicia sesión para comenzar tu sesión</p>
  
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo electrónico" name="email" ngModel required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña" name="password" ngModel required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
              </div>
            </div>
          </form>
  
          <div class="social-auth-links text-center mb-3">
            <p>- O -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Iniciar sesión con Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Iniciar sesión con Google+
            </a>
          </div>
  
          <p class="mb-1">
            <a routerLink="/forgot-password">Olvidé mi contraseña</a>
          </p>
          <p class="mb-0">
            <a routerLink="/register" class="text-center">Registrar una nueva cuenta</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  